.return-title {
    position: absolute;
    top:7%;
    left: 0%;
}
.first-title, .second-title {
    font-family: PokemonBoldFont;
    color: black;
    font-size: 3em;
    transform: rotate(-40deg);
}
.return-title:hover {
    animation: smallScale .5s ease-in forwards;
}
.red-loading{
    height: 10em;
    width: 10em;
    background-image: url("../assets/red-loading.gif");
    background-position: center;
    background-repeat: no-repeat;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.game-background {
    height: 100%;
    width: 100%;
    position: relative;
}
.game {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
}
.display-score {
    position: absolute;
    right: 10%;
    font-size: 2em;
}
 .display-round {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 5em;
}
.memory-cards{ 
    padding: 2em;
    flex:10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4em;
    flex-wrap: wrap;
}
.card {
    position: relative;
    height: 19.44em;
    width: 14em;
}
.card-side {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1.5s ease;
    backface-visibility: hidden;
}
.card-side.back {
    transform: rotateY(180deg);
    top:0;
    left:0;
    background-color: #4158D0;
    background-image: url("../assets/pokemon-back.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 2em;
  }
  
  .card-side.front {
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: transparent;
  }
  .card-side.front.rotation {
    transform: rotateY(180deg);
  }
  .card-side.back.rotation {
    transform: rotateY(0deg);
  }
.display-pokemon{
    height: 100%;
    background-color: white;
    position: relative;
    border-radius: 2em;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);;
}
.pokemon-name {
    position: absolute;
    bottom:5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
}
.pokemon-image {
    height: 12em;
    width: 12em;
    position: absolute;
    top: 10%;
    left: 10%;
}
.win, .loss {
    height: 100vh;
    width: 100%;
}
.win-screen, .loss-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
    height: 8em;
    width: 13em;
    color: white;
    display: flex;
    align-items: center;
    padding: 1em;
    flex-direction: column;
    border-radius: 2em;
}
.win-screen {
    background-image: url("../assets/pokemon-cheering.gif");
    background-position: center;
    background-size: cover;
    color: white ;
}
.first-text, .second {
    flex:1;
}

.try-again {
    font-size: 1.2em;
    border-radius: 1em;
    padding: .5em;
    background-color: transparent;
    color: white;
}
.try-again:hover {
    font-size: 1.3em;
    border: 2px solid white;
}
.loss-screen {
    background-image: url("../assets/pikachu-crying.webp");
    background-position: center;
    background-size: cover;
}
@font-face {
    font-family: PokemonFont;
    src: url("../assets/Pokemon_Hollow.ttf");
}
@font-face {
    font-family: PokemonBoldFont;
    src: url("../assets/Pokemon_Solid.ttf");
}

@keyframes smallScale {
    0%{
        scale: 1;
    }
    100% {
        scale: 1.1;
    }
}

@media screen and (max-height:800px) {
    .bottom-section{
        display: none !important;
    }
    .info-blurb{
        font-size: .8em;
    }
}
@media screen and (max-width: 2000px) {
    .loading{
        font-size: .9em;
    }
    
}
@media screen and (max-width: 500px) {
    *{
        margin: 0px;
        padding: 0px ;
        gap: 0px;
    }
    .game-background{
        font-size: .4em;
        max-height: 100vh;
    }
    .display-score{
        left:50%;
        top: 8%;
        transform: translateX(-50%);
        font-size: 4em;
    }
    .card{
        font-size: 1.4em;
    }
    .display-round{
        flex: 2;
        font-size: 8em;
    }
    .red-loading{
    height: 20em;
    width: 20em;
    background-size: cover;
    }
    .bottom-section {
        flex:1
    }
    .return-title {
        z-index: 2;
        font-size: .8em;
    }
    .game{ 
        gap: 2em;
    }
    .easy-mobile,.medium-mobile{
        font-size: 1.35em;
        flex: 2;
    }
    .memory-cards.hard-mobile {
        font-size: .95em;
        flex: 5;
    }
    .win, .loss{
        font-size: 2em;
        color: black;
    }
    .memory-cards{
        padding-left: 1em;
        padding-right: 1em;
        gap:2em;
    }
    .loss-version{
        color:white !important;
        border: 2px solid white !important;
    }
    .try-again {
        color:black;
        font-family:PokemonBoldFont;
        border:2px solid black;
    }
    .bottom-section{
        position: relative;
    }
    .bottom-section {
        display: block;
    }
    .hi {
        display: none;
    }
}