.menu-background {
    height: 100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.easy, .medium, .hard {
    display: flex;
    align-items: center;
    gap: .2em;
}
.menu {
    height: 14.5em;
    width: 31em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    background-image: url("../assets/text-border-modified.png");
    background-size: contain;
    background-repeat:no-repeat;
    padding: 2.2em;
    font-weight: bolder;
    display: flex;
    color: white;
    flex-direction: column;
    gap:.5em;
    animation: fadeIn 4s forwards;
    font-size: 1.2em;
}
.bottom-section {
    display: none;
}
.welcome, .choose{
    display: flex;
    justify-content: center;
    font-size: 1.4em;
}
.difficulty {
    font-size: 1.3em;
    display: flex;
    gap: 2em;
    justify-content: center;
}
.start-game {
    color: white;
    display: flex;
    font-size: 1.3em;
    justify-content: center;
    border: 1px solid white;
    background-color: transparent;
    padding: .5em;
    border-radius: 1em;
}
.start-game:hover {
    color: black;
    background-color: white;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        display: flex;
    }
}
.info-icon{
    position: absolute;
    height: 5em;
    width: 5em;
    bottom: 0%;
    right: 0%;
    overflow: hidden;
}
.info-blurb {
    top: 80%;
    position: absolute;
    color:white;
    font-size: 1.2rem;
    height: 7em;
    width: 16em;
    padding: 1.5em;
    background-image: url("../assets/text-border-modified.png");
    background-size: contain;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    bottom: 0%;
    right: 0%;
    animation: scaleIn 1s forwards;
    overflow: hidden;
}
.info {
    font-size: 1.2rem;
    height: 12em;
    width: 18em;
    padding: 1.5em;
    background-image: url("../assets/text-border-modified.png");
    background-repeat:no-repeat;
    color: black ;
}
.close-icon {
    position: absolute;
    top: 0%;
    right: 0%;
}
a{
    color: white;
}
@media screen and (max-width: 600px){
    .menu {
        height: 14.5em;
        width: 31em;
        font-size: .7em;
    }
}